<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼 중 유일한 값을 사용해야 한다.
    해서 관계적으로 해당 파일의 path와 file_name(확장자 제외) 그리고dao에서 namespace와 일치하여야 한다 -->
	<mapper namespace="com.mycompany.app.code.CodeMapper">

		<!-- select 결과를 받을 객체 -->
	    <resultMap id="resultMapObj" type="com.mycompany.app.code.Code"></resultMap>
	    			
	    <sql id="selectObj">
	    		seq,
	    		name,
	    		codeGroup_seq
	    </sql>			
	    			
		<!-- TYPE이 이클립스 DTO -->
		<select id="selectList" resultMap="resultMapObj">
		<!-- RESULTMAP=""이 RESULTMAP의 ID랑 연결 -->	
			SELECT
				<include refid="selectObj" />
			FROM
				code
			WHERE 1=1
					<if test="shKeyword != null and !shKeyword.equals('')">
					AND name
					LIKE CONCAT('%', #{shKeyword}, '%')
					</if>
		</select>  
	  
		<select id="selectOne" resultMap="resultMapObj">
		<!-- RESULTMAP=""이 RESULTMAP의 ID랑 연결 -->	
			SELECT	
				<include refid="selectObj" />
			FROM
				code
			WHERE
				seq = #{seq}
		</select>
		<update id="update">
			UPDATE 
				code
			SET
				name = #{name}
				codeGroup_seq = #{codeGroup_seq}
			WHERE
				seq = #{seq}
		</update>
		
		<delete id="delete">
			DELETE FROM code
			WHERE seq = #{seq}
		</delete>
		
		<insert id="insert">
			INSERT INTO code (
				name
				) VALUES (
				#{name}
				)
		</insert>
	</mapper>    